<script src="../../../../../../AppData/Roaming/npm/node_modules/tsviz/src/typings/graphviz/graphviz.d.ts"></script>
<ion-header>
  <ion-navbar color="primary" *ngIf="!isSearching">
    <ion-title >
      Errungenschaften {{achiev_Points}}
      <ion-icon color="gold" name="md-medal"></ion-icon>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showAchievs()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
  <ion-searchbar [(ngModel)]="searchQuery"
                 *ngIf="isSearching"
                 (ionInput)="doSearch()"
                 (ionClear)="clearSearchbar()"
                 showCancelButton="true"
                 (ionCancel)="cancel()">
  </ion-searchbar>
</ion-header>
<ion-content>
  <ion-item-divider></ion-item-divider>
  <ion-item-divider color="primary" align="center">Erzielte Errungenschaften</ion-item-divider>
  <ion-list>
    <ion-item *ngFor="let u_achiev of filtered_user_Achievs">
      <h2>{{u_achiev.title}}</h2>
      <p>{{u_achiev.text}}</p>
      <button ion-button outline item-right icon-left>
        <ion-icon color="gold" name="md-medal"></ion-icon>
        <h2>{{u_achiev.points}}</h2>
      </button>
    </ion-item>
  </ion-list>
  <ion-item-divider color="darkgrey" align="center">Noch nicht erzielte Errungenschaften</ion-item-divider>
  <ion-list>
    <ion-item color="lightgrey" *ngFor="let a_achiev of filtered_all_Achievs">
      <h2 ion-text color="darkgrey">{{a_achiev.title}}</h2>
      <p ion-text color="darkgrey">{{a_achiev.text}}</p>
      <button ion-button outline color="grey" item-right icon-left>
        <ion-icon name="md-medal"></ion-icon>
        <h2>{{a_achiev.points}}</h2>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
