<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="!isMultiplayer">
      Einzelspieler
    </ion-title>
    <ion-title *ngIf="isMultiplayer">
      Spiel gegen {{oponentName}}
    </ion-title>
  </ion-navbar>
</ion-header>
<!--TODO Smooth Image change
-->
<ion-content padding>
  <div *ngFor="let path of imagePath">
  <img class="gameImage" *ngIf="foundWrongLetters==path" src="./images/{{foundWrongLetters}}.png">
  </div>
<br>
  <p *ngIf="gameOver">Game Over</p>
  <p *ngIf="gameWon">Gewonnen</p>
  <button ion-button *ngFor="let letter of word;let i=index">
  <p *ngIf="letter.found">{{letter.is}}</p>
    <p *ngIf="!letter.found">_</p>
  </button>
  <br>
  <button ion-button small *ngFor="let letter of letters;let i=index" disabled={{letter.disabled}} (click)="press(letter)">
    {{letter.is}}
  </button>
</ion-content>
