<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="!isMultiplayer">
      Einzelspieler
    </ion-title>
    <ion-title *ngIf="isMultiplayer">
      Spiel gegen {{oponentName}}
    </ion-title>
  </ion-navbar>
</ion-header>
<!--TODO Smooth Image change
-->
<ion-content padding>
  <ion-card>
    <div *ngFor="let path of imagePath">
    <img class="gameImage" *ngIf="foundWrongLetters==path" src="./images/{{path}}.png">
    </div>
  </ion-card>
  <br>
  <ion-item-divider color="darkgrey" align="center" *ngIf="gameOver">Game Over</ion-item-divider>
  <ion-item-divider color="primary" align="center" *ngIf="gameWon">Gewonnen</ion-item-divider>

  <ion-card align="center">
    <button ion-button outline color="lightgrey" *ngFor="let letter of word_arr;let i=index">
      <p *ngIf="letter.found">{{letter.is}}</p>
      <p *ngIf="!letter.found">_</p>
    </button>
  </ion-card>
  <ion-card>
    <button ion-button small *ngFor="let letter of letters;let i=index" disabled={{letter.disabled}} (click)="press(letter)">
      {{letter.is}}
    </button>
  </ion-card>
</ion-content>
