<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Profil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>



  <ion-item style="font-size: large" color="lightgrey" align="center" >Benutzername: {{username}}</ion-item>
  <ion-item style="font-size: medium">Emailadresse: {{usermail}}</ion-item>



      <button style="min-height: 30%;" ion-button round block icon-left item-right (click)="goToAchievements()">
        <ion-icon color="light" name="ios-medal"></ion-icon>
        Errungenschaften
      </button>

      <button style="min-height: 30%;" ion-button round block icon-left item-right (click)="goToStats()">
        <ion-icon color="light" name="md-stats"></ion-icon>
        Statistik
      </button>





</ion-content>
