<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Profil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item color="lightgrey" align="center" >{{username}}</ion-item>
  <ion-item>Emailadresse: {{usermail}}</ion-item>

  <button ion-button round block icon-left item-right (click)="goToAchievements()">
    <ion-icon color="light" name="ios-medal"></ion-icon>
    Errungenschaften
  </button>
  <button ion-button round block icon-left item-right (click)="goToStats()">
    <ion-icon color="light" name="md-stats"></ion-icon>
    Statistik
  </button>
</ion-content>
