<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Passwort vergessen
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="http://placehold.it/300x100">
  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
                 placeholder="Email"
                 [class.invalid]="!resetPasswordForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!resetPasswordForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Bitte E-Mail eingeben.</p>
    </ion-item>

    <button ion-button block type="submit">
      Passwort zurücksetzen
    </button>
  </form>
</ion-content>
