<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Registrieren
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <img class="center img" src="assets/images/defaultHangman.png">
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
                 placeholder="Email"
                 [class.invalid]="!signupForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Bitte E-Mail eingeben.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Passwort</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
                 placeholder="Passwort"
                 [class.invalid]="!signupForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Passwort muss mindestens 6 Zeichen haben.</p>
    </ion-item>


    <ion-item>
      <ion-label stacked>Username</ion-label>
      <ion-input #name formControlName="name" type="text" (change)="elementChanged(name)"
                 placeholder="Username"
                 [class.invalid]="!signupForm.controls.name.valid && (nameChanged || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item *ngIf="signupForm.controls.name.pending">
      <p>Checking username...</p>
    </ion-item>


    <ion-item *ngIf="!signupForm.controls.name.valid && !signupForm.controls.name.pending && (signupForm.controls.name.dirty || submitAttempt)">
      <p>Name zu kurz, oder schon in benutzung</p>
    </ion-item>



    <button ion-button block type="submit">
      Create an Account
    </button>

  </form>

</ion-content>
