<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Statistik
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <script src="node_modules/chart.js/src/chart.js"></script>
  <ion-item-divider color="darkgrey" align="center">Siege/Niederlagen Übersicht</ion-item-divider>
  <ion-card>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [colors]="barChartColors"
              [chartType]="barChartType"></canvas>
    </div>
  </ion-card>
  <ion-item-divider></ion-item-divider>
  <ion-item-divider color="darkgrey" align="center">Gespielte Themen</ion-item-divider>
  <ion-card>
    <ion-label align="left">Single Player:</ion-label>
    <div style="display: block">
      <canvas baseChart
              [data]="doughnutChartDataSP"
              [labels]="doughnutChartLabelsSP"
              [chartType]="doughnutChartType"
              [colors]="doughnutChartColors"></canvas>
    </div>
  </ion-card>
  <ion-card>
    <ion-label align="left">Multi Player:</ion-label>

    <div style="display: block">
      <canvas baseChart
              [data]="doughnutChartDataMP"
              [labels]="doughnutChartLabelsMP"
              [chartType]="doughnutChartType"
              [colors]="doughnutChartColors"></canvas>
    </div>
  </ion-card>
</ion-content>
