<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Gegner Suchen
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item-divider color="light">Username des Gegners eingeben:</ion-item-divider>
  <ion-item>
    <ion-input placeholder="Username" [(ngModel)]="usernameEntered" (keypress)="eventHandler($event.keyCode)" #usernameInput clearInput></ion-input>
    <ion-label *ngIf="usernameWrong">Nicht gefunden</ion-label>
  </ion-item>
  <button ion-button block (click)="checkUsername()">Thema wählen</button>
</ion-content>

